.text-field{

    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    
}
.container{
    width: 300px;
}
.btn{
    display: flex;
    gap: 2rem;
}
.add-card{
    position: relative;

}

.text-field1{

    width: 290px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 0rem;

    
}
.btn{
    display: flex;
    gap: 2rem;
}
.add-card1{
    position: relative;
    margin-top: 2%;
}
.board-head{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    background-color: aqua;
    font-weight: bold;
    gap: 2rem;
}