.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .error-page h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ff4f4f;
  }
  
  .error-page p {
    font-size: 18px;
    color: #666;
  }
  